<div class="row">
  <div class="container-fluid">
   <h2>Personal Grubbings</h2>
   <h4><em>Would <%= current_user.personal_metaphysical_hero %> actually grub on any of these Grublets?
   </em></h4>
   <% current_user.recipes.each do |recipe| %>
     <div class="col-sm-6 col-md-4">
      <div class="panel panel-default panel-transparent">
       <div class="panel-body">
        <% if recipe.avatar_file_name != nil %>
           <%= image_tag recipe.avatar.url(:thumb) %>
        <% end %>
         <h2><%= link_to recipe.title, recipe %></h2>
         <h4><%= recipe.category %></h4>
         <p><%= recipe.created_at.localtime.strftime("%I:%M%p,   %b %d, %Y") %></p>
         <p><%= recipe.comments.count %> comments</p>
         <% unless recipe.average_rating == nil %>
            <p>Avg. Rating: <%= recipe.average_rating %> out of 5</p>
         <% end %>
       </div>
      </div>
     </div>
   <% end %>
  </div>
</div>
