<div class="container-fluid">
  <h2>Personal Grubbings</h2>
  <p>
    Would <%= current_user.personal_metaphysical_hero %> actually grub any of these Grublets?
  </p>
</div><br />

<div class="row">
 <div class="container-fluid">
  <% current_user.recipes.each do |recipe| %>
    <div class="col-sm-6 col-md-4">
     <div class="panel panel-default panel-transparent">
      <div class="panel-body">
       <% if recipe.avatar_file_name != nil %>
          <%= image_tag recipe.avatar.url(:thumb) %>
       <% end %>
        <h2><%= link_to recipe.title, recipe %></h2>
        <h4><%= recipe.category %></h4>
        <p><%= recipe.created_at.localtime.strftime("%I:%M%p,   %b %d, %Y") %></p>
        <p><%= recipe.comments.count %> comments</p>
        <% unless recipe.comments.count == 0  ||
                recipe.comments == nil %>
          <p>Avg. Rating: <%= recipe.average_rating %></p>
        <% end %>
      </div>
     </div>
    </div>
  <% end %>
 </div>
</div>
