<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-transparent">
        <div class="panel-body">
         <h2><strong><%= @recipe.title %></strong></h2>
         <h4><em><%= @recipe.category %></em></h4>
         <% if @recipe.avatar_file_name != nil %>
           <%= image_tag @recipe.avatar.url(:medium) %>
         <% end %>
         <% unless @recipe.average_rating == nil %>
            <p>Avg. Rating: <%= @recipe.average_rating %> out of 5</p>
         <br>
         <% end %>
         <h4><strong>Ingredients:</strong></h4>
         <%= @recipe.recipe_ingredients %>
         <br>
         <br>
         <h4><strong>Instructions:</strong></h4>
         <%= @recipe.recipe_instructions %>
         <br>
         by <strong><em><%= link_to @recipe.user.username,
         user_recipes_path(id: @recipe.user.id) %></em></strong>
         <span class="posted at" align="right">posted at: <%= @recipe.created_at.strftime('%m/%d/%Y at %I:%M%p') %></span>
        </div>
        <% if user_signed_in? %>
          <% if current_user.id == @recipe.user.id %>
             <div class="panel-footer">
              <%= link_to 'Edit Grub', edit_recipe_path(@recipe), class: "btn btn-default" %>
              <%= link_to 'Remove Grub', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
             </div>
      </div>
    </div>
  </div>
          <% else %>
  <div class="container-fluid">
   <div class="row">
     <div class="col-md-10">
      <div class="panel panel-default panel-transparent">
       <div class="panel-heading">
        <strong>Write a comment</strong>
       </div>
       <div class="panel-body">
        <%= render 'comments/form' %>
       </div>
      </div>
     </div>
    </div>
  </div>
          <% end %>
        <% end %>

  <% @recipe.comments.each do |comment| %>
    <div class="container-fluid">
     <div class="row">
      <div class="col-md-8">
       <div class="panel panel-default panel-transparent">
        <div class="panel-heading">
         <h4><strong>Comment from </strong><em><%= link_to comment.user.username, user_recipes_path(id: comment.user.id) %></em>
         </h4>
        </div>
        <div class="panel-body">
         <p><%= comment.comment_entry %></p>
         <% if comment.recipe_rating != nil %>
           <p>
             and rated it: <%= comment.recipe_rating %> out of 5
         <% end %>
         <span class="posted-at"><%= comment.created_at.strftime ('%m/%d/%Y %H:%M:%S') %></span>
           </p>
        </div>
        <% if user_signed_in? && current_user.id ==  comment.user.id %>
          <div class="panel-footer">
           <%= link_to "Edit Comment", edit_recipe_path(@recipe, comment), class:"btn btn-default" %>
           <%= link_to 'Remove Comment', [comment.recipe, comment], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
          </div>
        <% end %>
       </div>
      </div>
     </div>
    </div>
  <% end %>
  <div class="conatiner-fluid" align="right">
    <%= link_to 'Back', recipes_path, class:"btn btn-default" %>
  </div>
